{% extends 'base.html.twig' %}

{% block title %}Hello SupplierController!{% endblock %}

{% block body %}
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
 <form name="frm" method="post" action="">
        <h1>Supplier</h1>
        <p>
            <img src="Image/add.jpg" alt="Add new" width="16" height="16" border="0" /> <a href="{{path('addSupplier')}}"> Add Supplier</a>
        </p>
        <table id="customers" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="text-center"><strong>No.</strong></th>
                    <th class="text-center"><strong>SupplierName</strong></th>
                    <th class="text-center"><strong>Tel</strong></th>
                    <th class="text-center"><strong>Edit</strong></th>
                    <th class="text-center"><strong>Delete</strong></th>
                </tr>
            </thead>
            <tbody>
            {% for s in supplier %}
                   <tr>
                        <td class="text-center">{{s.id}}</td>
                        <td class="text-center">{{s.SupName}}</td>
                        <td class="text-center">{{s.Tel}}</td>
                        <td style='text-align:center'>
                            <a href="{{path('editSupplier', {id:s.id})}}">
                                <img src='Image/settings.jpg' width="16" height="16" border='0'/>
                            </a>
                        </td>
                        <td style='text-align:center'>
                            <a href="{{path('deleteSupplier', {id:s.id})}}" onclick=" return deleteConfirm(Are you sure to delete?)">
                            <img src='Image/delete.jpg' width="16" height="16" border="0" /></a></td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
</form>
{% endblock %}
